---
import ContainerSection from "@lib/components/ContainerSection.astro";

interface Props {
  language: Language;
}

const { language } = Astro.props;

const title = language === "et" ? "Kontakt" : "Contact";
const emailLabel = language === "et" ? "Sinu email" : "Your email";
const messageLabel = language === "et" ? "Sinu sõnum" : "Your message";
const submitLabel = language === "et" ? "Saada sõnum" : "Send message";
---

<script>
  const formElement = document.getElementById("contact-form") as HTMLFormElement;
  formElement.addEventListener("submit", submit);

  const submitButton = document.getElementById("contact-submit-button") as HTMLInputElement;

  const textareaElement = document.getElementById("message") as HTMLTextAreaElement;
  textareaElement.style.height = "auto";
  textareaElement.addEventListener("input", autoResize);

  var language = document.documentElement.lang;
  const successMessage = language === "et" ? "Sõnum saadetud!" : "Message sent!";
  const errorMessage =
    language === "et" ? "Sõnumi saatmine ebaõnnestus! Palun proovi uuesti." : "Failed to send message! Please try again.";

  const responseMessageElement = document.getElementById("response-message") as HTMLElement;

  async function submit(e) {
    e.preventDefault();

    // submitButton.disabled = true;

    // const formData = new FormData(formElement);

    // H o n e y p o t
    // if (formData.get("email") !== "") {
    //   formElement.reset();
    //   showResponseMessage(false);
    //   return;
    // }

    // if (!formData.get("liame") || !formData.get("message")) {
    //   return;
    // }

    // formData.set("email", formData.get("liame"));
    // formData.delete("liame");

    // try {
    //   const request = await fetch("/contact-form.php", {
    //     method: "POST",
    //     body: formData,
    //   });
    //   if (request.ok) {
    //     showResponseMessage(true);
    //   } else {
    //     showResponseMessage(false);
    //   }
    // } catch (error) {
    //   showResponseMessage(false);
    // }

    formElement.reset();
  }

  function showResponseMessage(success: boolean = true) {
    responseMessageElement.textContent = success ? successMessage : errorMessage;
    responseMessageElement.style.backgroundColor = success ? "#95EC7B" : "#FF7D73";
    responseMessageElement.hidden = false;
    setTimeout(() => {
      responseMessageElement.hidden = true;
      submitButton.disabled = false;
    }, 5000);
  }

  function autoResize() {
    textareaElement.style.height = textareaElement.scrollHeight + "px";
  }
</script>

<ContainerSection id="contact" color="white">
  <!-- TITLE -->
  <div class="text-center">
    <h2 class="text-pj-blue selection:bg-pj-blue selection:text-white">{title}</h2>
  </div>

  <!-- FORM -->
  <form id="contact-form" class="flex justify-center mt-16">
    <div class="w-full max-w-2xl pl-2 lg:pl-0">
      <!-- Real fields -->
      <div>
        <label for="liame" class="block text-base font-bold leading-6 text-gray-500 uppercase selection:bg-pj-blue selection:text-white">
          {emailLabel}
        </label>
        <div class="mt-2">
          <input
            required
            type="text"
            name="liame"
            id="liame"
            class="block w-full px-4 py-2 text-gray-700 border-0 shadow-sm w-xl rounded-xl ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-pj-blue"
          />
        </div>
      </div>

      <div class="mt-4">
        <label for="message" class="block text-base font-bold leading-6 text-gray-500 uppercase selection:bg-pj-blue selection:text-white">
          {messageLabel}
        </label>
        <div class="mt-2">
          <textarea
            required
            name="message"
            id="message"
            class="block w-full px-4 py-2 text-gray-900 border-0 shadow-sm rounded-xl ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-pj-blue"
          ></textarea>
        </div>
      </div>

      <!-- H o n e y p o t -->
      <div class="absolute top-0 left-0 w-0 h-0 opacity-0 -z-1">
        <input autocomplete="off" type="email" id="email" name="email" placeholder="Your e-mail here" tabindex="-1" />
      </div>

      <div class="flex justify-end py-2 mt-4">
        <input
          id="contact-submit-button"
          class="inline-flex items-center px-6 py-3 ml-3 font-semibold text-white uppercase rounded-full shadow-sm bg-pj-blue
          hover:bg-pj-blue-light hover:cursor-pointer
          focus-visible:outline focus-visible:outline-2 focus-visible:bg-pj-blue-light
          disabled:cursor-not-allowed disabled:bg-neutral-400 disabled:text-neutral-600"
          type="submit"
          value={submitLabel}
        />
      </div>

      <div class="relative flex justify-center mt-4">
        <div id="response-message" class="absolute px-8 py-2 text-base rounded-md" hidden></div>
      </div>
    </div>
  </form>
</ContainerSection>

<style>
  textarea {
    overflow: hidden;
    resize: none; /* Disable manual resizing */
    min-height: 150px; /* Set a minimum height */
  }

  input {
    @apply autofill:shadow-[inset_0_0_0px_1000px_rgb(255,255,255)];
  }

  #response-message {
    animation: slide-fade-up 0.5s 0.1s cubic-bezier(0.5, 1.5, 0.5, 1) both;
  }

  @keyframes slide-fade-up {
    0% {
      transform: translateY(50px);
      opacity: 0.01;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
</style>
