---
import GrainOverlay from "@lib/components/GrainOverlay.astro";
import HeroArtists from "@lib/components/hero/HeroArtists.astro";
import HeroBg from "@lib/components/hero/HeroBg.astro";
import PjLogo from "@lib/components/hero/PjLogo.astro";

interface Props {
  language: Language;
  artistsData?: ArtistData[];
}

const { language = "et", artistsData } = Astro.props;
---

<section class="bg-pj-blue relative">
  <HeroBg />

  <PjLogo {language} />

  <div class="flex flex-col items-center max-w-5xl pb-64 pr-6 pl-16 sm:mx-auto sm:px-14 lg:px-0 z-1">
    {artistsData && artistsData.length && <HeroArtists {artistsData} />}
  </div>

  <GrainOverlay />
</section>
