---
import Picture from "@lib/components/Picture.astro";
import GrainOverlay from "@lib/components/GrainOverlay.astro";
import ImageFader from "@lib/components/ImageFader.astro";
interface Props {
  data?: PictureData[];
}

const { data } = Astro.props;
---

<section class="relative h-[32rem] sm:h-[70vw] xl:h-[48rem]">
  <div class="absolute inset-0 bg-neutral-500"></div>

  <ImageFader {data} />

  <GrainOverlay />
</section>
