---
import ContainerSection from "@lib/components/ContainerSection.astro";

interface Props {
  data?: InfoSectionData;
}

const { data } = Astro.props;
---

<ContainerSection id="info" color="pj-blue">
  <!-- TITLE -->
  {
    data.title && (
      <div class="text-center">
        <h2 class="text-pj-yellow selection:bg-pj-yellow selection:text-pj-blue">{data.title}</h2>
      </div>
    )
  }

  <!-- TEXT -->
  {
    data.text && (
      <div class="px-4 mx-auto mt-16 leading-7 columns-1 md:columns-2 gap-x-12 gap-y-16">
        <div class="text-white info-section-text selection:bg-pj-yellow selection:text-pj-blue" set:html={data.html} />
      </div>
    )
  }
</ContainerSection>

<style lang="postcss">
    :global(.info-section-text a) {
    @apply underline hover:no-underline;
  }

  :global(.info-section-text p) {
    @apply text-white;
  }

  :global(.info-section-text li) {
    @apply text-white;
  }

  :global(.info-section-text h3) {
    @apply text-pj-violet pt-4;
  }

  :global(.info-section-text h4) {
    @apply text-pj-yellow pt-4;
  }

  :global(.info-section-text h5) {
    @apply text-pj-blue;
  }

  :global(.info-section-text p, ul) {
    @apply mb-4 mt-4;
  }
</style>
