---
import ContainerSection from "@components/ContainerSection.astro";

interface Props {
  data?: ScheduleSectionData;
  language: Language;
}



const { data, language="et" } = Astro.props;
---

<ContainerSection id="schedule" color="pj-yellow-light" colorGradient="pj-mint">
  <!-- TITLE -->
  {
    data.title && (
      <div class="text-center">
        <h2 class="text-pj-pink uppercase">{data.title}</h2>
      </div>
    )
  }

  <!-- TEXTS -->
  {
    data.text && (
      <div class="flex justify-center pl-3 sm:pl-0 mt-8 sm:mt-20">
        <div class="grid grid-cols-1 gap-x-24 gap-y-16 md:grid-cols-2 schedule-section-text">
          {data.text.map((text) => (
            <div class="md:justify-self-end" set:html={text} />
          ))}
        </div>
      </div>

      <div class="mt-8 text-center schedule-section-text">
        { language === "et" ? <p>* Korraldajal on ōigus teha programmis muudatusi!</p> : <p>* The organizer has the right to make changes to the program!</p> }
      </div>
    )
  }
</ContainerSection>

<style lang="postcss">
  :global(.schedule-section-text a) {
    @apply underline hover:no-underline;
  }

  :global(.schedule-section-text p) {
    @apply text-pj-blue;
  }

  :global(.schedule-section-text li) {
    @apply text-pj-blue;
  }

  :global(.schedule-section-text h3) {
    @apply text-pj-blue pt-4;
  }

  :global(.schedule-section-text h4) {
    @apply text-pj-pink pt-4;
  }

  :global(.schedule-section-text h5) {
    @apply text-pj-blue;
  }

  :global(.schedule-section-text p, ul) {
    @apply mb-4 mt-4;
  }
</style>
