---
import XIcon from "@lib/svg/XIcon.astro";
---

<button
  data-back-button
  class="flex items-center w-12 h-12 mt-1 outline-none bg-pj-yellow rounded-s-full focus:bg-white"
  aria-label="Go back"
  autofocus
>
  <XIcon class="w-8 p-1 ml-2 text-pj-violet hover:text-pj-blue hover:animate-scale-pulse" />
</button>
