---
import BackButton from "@lib/components/menu/BackButton.astro";
---

<nav class="z-20">
  <div class="fixed inset-y-0 right-0 justify-start mt-2">
    <BackButton />
  </div>
</nav>

<!-- <style>
  .button {
    opacity: 0;
    animation: lide-fade-left 1s 0s cubic-bezier(0.5, 1.5, 0.5, 1) forwards;
  }
</style> -->
