---
import Tommy from "@lib/svg/Tommy.astro";
import BruC from "@lib/svg/BruC.astro";
import Delta from "@lib/svg/Delta.astro";
import Brennan from "@lib/svg/Brennan.astro";
import Nublu from "@lib/svg/Nublu.astro";
import ViisMiinust from "@lib/svg/ViisMiinust.astro";
import Bedwetters from "@lib/svg/Bedwetters.astro";
import HeroArtist from "./HeroArtist.astro";

interface Props {
  artistsData: ArtistData[];
}

const { artistsData } = Astro.props;

let mainArtistsList = ["tommy-cash", "bru-c", "brennan-heart", "delta-heavy", "nublu", "5miinust", "bedwetters"];

let mainArtistsData: Record<string, { title: string; slug: string; picture: PictureData }>;

let otherArtistsData: ArtistData[];

function compareByName(a: ArtistData, b: ArtistData) {
  return a.name.localeCompare(b.name);
}

const mainArtistsArray = artistsData.filter((item) => mainArtistsList.includes(item.slug));
otherArtistsData = artistsData.filter((item) => !mainArtistsList.includes(item.slug));

// Convert main artists array to object
mainArtistsData = mainArtistsArray.reduce((obj, artist) => {
  let id = artist.slug;
  const newItem = { picture: artist.picture, title: artist.name, slug: artist.slug };
  return { ...obj, [id]: newItem };
}, {});

otherArtistsData.sort(compareByName); // Sort by name
// otherArtistsData.sort((f, s) => (f.name.toLowerCase() === "nublu" ? -1 : 1)); //Set Nublu as first item
---

<script>
  import { gsap } from "gsap";

  function init() {
    if (document.querySelector("#local-artists")) {
      const heroSection = document.getElementById("local-artists") as HTMLElement;
      // gsap.set(heroSection, { opacity: 0 });
      // gsap.to(heroSection, { duration: 3, delay: 0, opacity: 1, ease: "power4.out" });
      gsap.from(heroSection, { duration: 3, delay: 0, opacity: 0, y: 200, ease: "power4.out" });
    }
  }

  document.addEventListener("astro:after-swap", () => {
    init();
  });

  init();
</script>

<!-- <div class="flex flex-wrap justify-center w-full pt-0 mt-32 md:nth-2:pt-8 lg:nth-2:pt-0 lg:nth-3:pt-8 selection:bg-pj-yellow "></div> -->
<div class="flex flex-col items-center">
  <div class="flex flex-wrap items-center justify-center max-w-[900px] mt-6 lg:mt-12">
    <HeroArtist data={mainArtistsData["bru-c"]} class="w-48 sm:top-2 sm:w-50">
      <BruC class="w-[65%] -mt-6" />
    </HeroArtist>
    <HeroArtist data={mainArtistsData["tommy-cash"]} class="w-48 sm:-top-2 sm:w-56" delay="100">
      <Tommy class="w-[70%] -mt-20" />
    </HeroArtist>
    <HeroArtist data={mainArtistsData["brennan-heart"]} class="w-48 sm:top-3 sm:w-52" delay="200">
      <Brennan class="w-[60%] -mt-12" />
    </HeroArtist>
    <HeroArtist data={mainArtistsData["5miinust"]} class="w-48 sm:w-36" delay="400">
      <ViisMiinust class="w-[90%] -mt-0" />
    </HeroArtist>
    <HeroArtist data={mainArtistsData["delta-heavy"]} class="w-48 sm:top-2 sm:w-44" delay="600"
      ><Delta class="w-[70%] -mt-12" />
    </HeroArtist>
    <HeroArtist data={mainArtistsData["nublu"]} class="w-48 sm:top-1 sm:w-40" delay="800">
      <Nublu class="w-[80%] -mt-6" />
    </HeroArtist>
    <HeroArtist data={mainArtistsData["bedwetters"]} class="w-48 sm:-top-3 sm:w-40" delay="1000"
      ><Bedwetters class="w-[80%] -mt-6" />
    </HeroArtist>
  </div>

  <div
    id="local-artists"
    class="max-w-4xl mt-16 text-xl tracking-wide text-center sm:text-3xl font-bds text-pj-cyan sm:mt-24 selection:text-pj-blue selection:bg-pj-yellow">
    {
      otherArtistsData.map((artist, index) => (
        <span>
          {index == 0 && "· "}
          <a class="outline-none hover:text-white focus:text-white" href={`#${artist.slug}`}>
            {artist.name}
          </a>
          ·
        </span>
      ))
    }
  </div>
</div>

<style>
  #local-artists {
    opacity: 0;
    animation: fade-in 1s 1s ease-out forwards;
  }
</style>
