---
import Coolbet from "./Coolbet.astro";

interface Props {
  language: Language;
}

const { language = "et" } = Astro.props;

const presentsText = language === "et" ? "ESITLEB" : "PRESENTS";
const dateText = language === "et" ? "22-23 JUUNI 2025" : "22-23 JUNE 2025";
---

<!-- <style>
  #pj-logo {
    opacity: 0;
    animation: slide-fade-up 0.25s ease-out forwards;
  }
</style> -->
<div class="mt-4"></div>

<div class="relative pl-14 pr-4 xl:pl-0 w-full flex justify-center items-center">
  <div class="w-full max-w-[150px] min-w-24">
    <a href="https://www.coolbet.com/" aria-label="Coolbet logo" data-astro-reload>
      <div class="group">
        <Coolbet class="h-16 fill-pj-blue group-hover:fill-white" />
      </div>
    </a>
  </div>
  <div class="pl-2 font-bold font-sans text-base xs:text-xl text-pj-blue">{presentsText}</div>
</div>

<div class="relative pl-14 pr-4 xl:pl-0 w-full flex justify-center">
  <div id="pj-logo" class="w-full sm:w-[80%] xl:w-[800px]">
    <svg style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2" viewBox="0 0 1011 174">
      <g id="P">
        <path
          d="M46.385 79.656c-7.709 0-10.999 3.073-10.999 10.274 0 7.209 3.449 10.567 10.855 10.567H93.88c7.709 0 10.999-3.074 10.999-10.279 0-7.107-3.551-10.562-10.855-10.562H46.385ZM9.357 158.927V54.062H89.25c12.105 0 44.261 0 44.261 35.144 0 14.139-4.995 24.485-14.846 30.75-8.392 5.337-17.953 6.134-22.905 6.134H39.438v32.837H9.357Z"
          style="fill:#0c00ff;fill-rule:nonzero"></path><path
          d="M46.241 98.622c-7.892 0-8.979-4.178-8.979-8.691 0-6.123 2.472-8.4 9.123-8.4h47.639c6.294 0 8.98 2.598 8.98 8.688 0 6.125-2.473 8.403-9.124 8.403H46.241ZM89.25 52.188H7.482v108.614h33.831v-32.837H95.76c19.156 0 39.626-10.182 39.626-38.758 0-14.972-5.628-25.553-16.729-31.447-9.302-4.939-20.602-5.572-29.407-5.572m-43.009 50.184H93.88c8.822 0 12.874-4.051 12.874-12.153 0-8.243-4.484-12.438-12.73-12.438H46.385c-8.822 0-12.873 4.047-12.873 12.15 0 8.246 4.195 12.441 12.729 12.441M89.25 55.938c17.215 0 42.386 2.603 42.386 33.269 0 31.101-25.315 35.008-35.876 35.008H37.563v32.837H11.232V55.938H89.25Z"
          style="fill:#0c00ff;fill-rule:nonzero"></path><path
          d="M46.385 69.156c-7.709 0-10.999 3.073-10.999 10.274 0 7.209 3.449 10.567 10.855 10.567H93.88c7.709 0 10.999-3.074 10.999-10.279 0-7.107-3.551-10.562-10.855-10.562H46.385ZM9.357 148.427V43.562H89.25c12.105 0 44.261 0 44.261 35.144 0 14.139-4.995 24.485-14.846 30.75-8.392 5.337-17.953 6.134-22.905 6.134H39.438v32.837H9.357Z"
          style="fill:#92ffa1;fill-rule:nonzero"></path><path
          d="M46.241 88.122c-7.892 0-8.979-4.178-8.979-8.691 0-6.123 2.472-8.4 9.123-8.4h47.639c6.294 0 8.98 2.598 8.98 8.688 0 6.125-2.473 8.403-9.124 8.403H46.241ZM89.25 41.688H7.482v108.614h33.831v-32.837H95.76c19.156 0 39.626-10.182 39.626-38.758 0-14.972-5.628-25.553-16.729-31.447-9.302-4.939-20.602-5.572-29.407-5.572M46.241 91.872H93.88c8.822 0 12.874-4.051 12.874-12.153 0-8.243-4.484-12.438-12.73-12.438H46.385c-8.822 0-12.873 4.047-12.873 12.15 0 8.246 4.195 12.441 12.729 12.441M89.25 45.438c17.215 0 42.386 2.603 42.386 33.269 0 31.101-25.315 35.008-35.876 35.008H37.563v32.837H11.232V45.438H89.25Z"
          style="fill:#00f;fill-rule:nonzero"></path>
      </g>
      <g id="UE">
        <path
          d="M182.546 161.674c-25.738 0-39.342-13.404-39.342-38.763V54.063h30.224v68.848c0 6.477 2.809 9.119 9.698 9.119h.72c6.992 0 9.843-2.642 9.843-9.119V54.063h30.368v68.848c0 10.006-1.97 17.867-6.022 24.031-6.425 9.776-17.781 14.732-33.753 14.732h-1.736Z"
          style="fill:#0c00ff;fill-rule:nonzero"></path><path
          d="M225.932 52.187h-34.118v70.725c0 5.347-2.085 7.243-7.968 7.243h-.72c-6.576 0-7.824-2.546-7.824-7.243V52.187h-33.973v70.725c0 26.205 14.638 40.638 41.218 40.638h1.735c16.643 0 28.526-5.241 35.32-15.578 4.259-6.48 6.33-14.677 6.33-25.06V52.187Zm-3.75 3.75v66.975c0 12.153-2.603 36.888-37.9 36.888h-1.735c-34.429 0-37.468-24.735-37.468-36.888V55.937h26.473v66.975c0 7.665 3.76 10.993 11.574 10.993h.72c7.959 0 11.718-3.472 11.718-10.993V55.937h26.618ZM183.125 48.224c-9.555 0-14.605-4.951-14.605-14.316 0-9.307 4.963-14.025 14.749-14.025h.867c9.418 0 14.604 5.083 14.604 14.313 0 9.308-4.962 14.028-14.748 14.028h-.867Z"
          style="fill:#0c00ff;fill-rule:nonzero"></path><path
          d="M184.136 18.008h-.867c-10.72 0-16.624 5.647-16.624 15.899 0 5.16 1.442 9.192 4.285 11.988 2.838 2.79 6.941 4.204 12.195 4.204h.867c10.72 0 16.624-5.648 16.624-15.903 0-10.288-6.007-16.188-16.48-16.188m0 3.75c8.247 0 12.73 4.195 12.73 12.438 0 8.102-4.051 12.153-12.874 12.153h-.867c-8.535 0-12.73-4.195-12.73-12.442 0-8.101 4.051-12.149 12.874-12.149h.867Z"
          style="fill:#0c00ff;fill-rule:nonzero"></path><path
          d="M182.546 151.174c-25.738 0-39.342-13.404-39.342-38.763V43.563h30.224v68.848c0 6.477 2.809 9.119 9.698 9.119h.72c6.992 0 9.843-2.642 9.843-9.119V43.563h30.368v68.848c0 10.006-1.97 17.867-6.022 24.031-6.425 9.776-17.781 14.732-33.753 14.732h-1.736Z"
          style="fill:#92ffa1;fill-rule:nonzero"></path><path
          d="M225.932 41.687h-34.118v70.725c0 5.347-2.085 7.243-7.968 7.243h-.72c-6.576 0-7.824-2.546-7.824-7.243V41.687h-33.973v70.725c0 26.205 14.638 40.638 41.218 40.638h1.735c16.643 0 28.526-5.241 35.32-15.578 4.259-6.48 6.33-14.677 6.33-25.06V41.687Zm-3.75 3.75v66.975c0 12.153-2.603 36.888-37.9 36.888h-1.735c-34.429 0-37.468-24.735-37.468-36.888V45.437h26.473v66.975c0 7.665 3.76 10.993 11.574 10.993h.72c7.959 0 11.718-3.472 11.718-10.993V45.437h26.618Z"
          style="fill:#00f;fill-rule:nonzero"></path><path
          d="M183.125 37.724c-9.555 0-14.605-4.951-14.605-14.316 0-9.307 4.963-14.025 14.749-14.025h.867c9.418 0 14.604 5.083 14.604 14.313 0 9.308-4.962 14.028-14.748 14.028h-.867Z"
          style="fill:#92ffa1;fill-rule:nonzero"></path><path
          d="M184.136 7.508h-.867c-10.72 0-16.624 5.647-16.624 15.899 0 5.16 1.442 9.192 4.285 11.988 2.838 2.79 6.941 4.204 12.195 4.204h.867c10.72 0 16.624-5.648 16.624-15.903 0-10.288-6.007-16.188-16.48-16.188m0 3.75c8.247 0 12.73 4.195 12.73 12.438 0 8.102-4.051 12.153-12.874 12.153h-.867c-8.535 0-12.73-4.195-12.73-12.442 0-8.101 4.051-12.149 12.874-12.149h.867Z"
          style="fill:#00f;fill-rule:nonzero"></path>
      </g>
      <g id="H">
        <path
          d="M352.419 158.927v-40.796h-82.953v40.796h-30.801V54.063h30.801v38.331h82.953V54.063h30.945v104.864h-30.945Z"
          style="fill:#0c00ff;fill-rule:nonzero"></path><path
          d="M385.239 52.187h-34.695v38.332H271.34V52.187h-34.55v108.615h34.55v-40.795h79.204v40.795h34.695V52.187Zm-3.75 3.75v101.115h-27.195v-40.795H267.59v40.795h-27.05V55.937h27.05v38.332h86.704V55.937h27.195Z"
          style="fill:#0c00ff;fill-rule:nonzero"></path><path
          d="M352.419 148.427v-40.796h-82.953v40.796h-30.801V43.563h30.801v38.331h82.953V43.563h30.945v104.864h-30.945Z"
          style="fill:#92ffa1;fill-rule:nonzero"></path><path
          d="M385.239 41.687h-34.695v38.332H271.34V41.687h-34.55v108.615h34.55v-40.795h79.204v40.795h34.695V41.687Zm-3.75 3.75v101.115h-27.195v-40.795H267.59v40.795h-27.05V45.437h27.05v38.332h86.704V45.437h27.195Z"
          style="fill:#00f;fill-rule:nonzero"></path>
      </g>
      <g id="A">
        <path
          d="m450.515 115.973-6.269-19.518-6.368 19.518h12.637Zm14.706 42.954-3.773-10.499c-.999-2.566-1.886-4.354-3.415-5.767-3.014-2.783-7.469-4.271-13.242-4.422h-1.106c-5.868.155-10.383 1.506-13.371 4.017-1.421 1.323-2.483 3.055-3.546 5.783l-4.061 10.888h-31.9l38.256-104.865h30.695l37.506 104.865h-32.043Z"
          style="fill:#0c00ff;fill-rule:nonzero"></path><path
          d="m440.462 114.098 3.77-11.556 3.711 11.556h-7.481Zm20.617-61.911h-33.328l-.898 2.465-36.888 101.115-1.838 5.035h35.882l.91-2.44 3.605-9.667c.955-2.443 1.839-3.91 3.033-5.034 2.649-2.205 6.744-3.398 12.177-3.547h1.056c5.281.146 9.309 1.466 11.971 3.924 1.256 1.159 2.03 2.739 2.939 5.07l3.31 9.212.893 2.482h36.023l-1.793-5.013-36.165-101.115-.889-2.487Zm-25.785 65.661h17.792l-8.826-27.482-8.966 27.482m23.143-61.911 36.165 101.115H466.54l-3.328-9.258c-1.012-2.604-2.027-4.775-3.907-6.51-3.759-3.472-8.97-4.776-14.465-4.92h-1.156c-5.498.144-10.849 1.304-14.612 4.487-1.88 1.735-3.036 3.904-4.052 6.507l-3.615 9.694h-27.918l36.888-101.115h28.062Z"
          style="fill:#0c00ff;fill-rule:nonzero"></path><path
          d="m450.515 105.473-6.269-19.518-6.368 19.518h12.637Zm14.706 42.954-3.773-10.499c-.999-2.566-1.886-4.354-3.415-5.767-3.014-2.783-7.469-4.271-13.242-4.422h-1.106c-5.868.155-10.383 1.506-13.371 4.017-1.421 1.323-2.483 3.055-3.546 5.783l-4.061 10.888h-31.9l38.256-104.865h30.695l37.506 104.865h-32.043Z"
          style="fill:#92ffa1;fill-rule:nonzero"></path><path
          d="m440.462 103.598 3.77-11.556 3.711 11.556h-7.481Zm20.617-61.911h-33.328l-.898 2.465-36.888 101.115-1.838 5.035h35.882l.91-2.44 3.605-9.667c.955-2.443 1.839-3.91 3.033-5.034 2.649-2.205 6.744-3.398 12.177-3.547h1.056c5.281.146 9.309 1.466 11.971 3.924 1.256 1.159 2.03 2.739 2.939 5.07l3.31 9.212.893 2.482h36.023l-1.793-5.013-36.165-101.115-.889-2.487Zm-25.785 65.661h17.792l-8.826-27.482-8.966 27.482m23.143-61.911 36.165 101.115H466.54l-3.328-9.258c-1.012-2.604-2.027-4.775-3.907-6.51-3.759-3.472-8.97-4.776-14.465-4.92h-1.156c-5.498.144-10.849 1.304-14.612 4.487-1.88 1.735-3.036 3.904-4.052 6.507l-3.615 9.694h-27.918l36.888-101.115h28.062Z"
          style="fill:#00f;fill-rule:nonzero"></path>
      </g>
      <g id="J">
        <path
          d="M534.594 161.095c-15.597 0-26.584-4.92-32.654-14.623-4.956-7.922-5.529-17.405-5.529-23.849v-30.66h27.764v31.384c0 6.605 2.991 9.551 9.696 9.551 6.898 0 9.842-2.77 9.842-9.263V54.063h30.368v69.428c0 24.952-13.285 37.604-39.487 37.604"
          style="fill:#0c00ff;fill-rule:nonzero"></path><path
          d="M575.956 52.187h-34.118v71.448c0 5.454-2.085 7.388-7.967 7.388-5.628 0-7.821-2.153-7.821-7.676v-33.26h-31.514v32.536c0 6.675.602 16.513 5.814 24.844 6.436 10.287 17.957 15.503 34.244 15.503 16.573 0 28.382-5.053 35.098-15.017 5.615-8.33 6.264-17.95 6.264-24.462V52.187Zm-3.75 3.75v67.554c0 12.006-2.459 35.729-37.612 35.729-34.428 0-36.308-24.447-36.308-36.597V93.837H522.3v29.51c0 7.666 3.904 11.426 11.571 11.426 7.958 0 11.717-3.616 11.717-11.138V55.937h26.618Z"
          style="fill:#0c00ff;fill-rule:nonzero"></path><path
          d="M534.594 150.595c-15.597 0-26.584-4.92-32.654-14.623-4.956-7.922-5.529-17.405-5.529-23.849v-30.66h27.764v31.384c0 6.605 2.991 9.551 9.696 9.551 6.898 0 9.842-2.77 9.842-9.263V43.563h30.368v69.428c0 24.952-13.285 37.604-39.487 37.604"
          style="fill:#92ffa1;fill-rule:nonzero"></path><path
          d="M575.956 41.687h-34.118v71.448c0 5.454-2.085 7.388-7.967 7.388-5.628 0-7.821-2.153-7.821-7.676v-33.26h-31.514v32.536c0 6.675.602 16.513 5.814 24.844 6.436 10.287 17.957 15.503 34.244 15.503 16.573 0 28.382-5.053 35.098-15.017 5.615-8.33 6.264-17.95 6.264-24.462V41.687Zm-3.75 3.75v67.554c0 12.006-2.459 35.729-37.612 35.729-34.428 0-36.308-24.447-36.308-36.597V83.337H522.3v29.51c0 7.666 3.904 11.426 11.571 11.426 7.958 0 11.717-3.616 11.717-11.138V45.437h26.618Z"
          style="fill:#00f;fill-rule:nonzero"></path>
      </g>
      <g id="AE">
        <path
          d="m637.037 115.973-6.268-19.518-6.369 19.518h12.637Zm14.706 42.954-3.772-10.5c-.999-2.565-1.886-4.353-3.416-5.766-3.013-2.783-7.468-4.271-13.241-4.422h-1.107c-5.868.155-10.382 1.506-13.371 4.017-1.42 1.323-2.482 3.055-3.546 5.784l-4.061 10.887H577.33l38.256-104.865h30.694l37.506 104.865h-32.043Z"
          style="fill:#0c00ff;fill-rule:nonzero"></path><path
          d="m626.985 114.098 3.77-11.556 3.711 11.556h-7.481Zm20.616-61.911h-33.327l-.899 2.465-36.888 101.115-1.837 5.035h35.881l.911-2.44 3.605-9.667c.955-2.443 1.838-3.91 3.032-5.034 2.649-2.205 6.745-3.398 12.178-3.547h1.055c5.282.146 9.309 1.466 11.972 3.924 1.255 1.159 2.03 2.739 2.938 5.07l3.311 9.212.892 2.482h36.023l-1.793-5.013-36.164-101.115-.89-2.487Zm-25.785 65.661h17.793l-8.826-27.482-8.967 27.482m23.144-61.911 36.164 101.115h-28.062l-3.328-9.258c-1.011-2.604-2.027-4.775-3.906-6.51-3.76-3.472-8.97-4.776-14.466-4.92h-1.155c-5.499.144-10.85 1.304-14.613 4.487-1.88 1.735-3.036 3.904-4.051 6.507l-3.615 9.694H580.01l36.888-101.115h28.062ZM604.378 48.224c-9.554 0-14.605-4.951-14.605-14.316 0-9.307 4.963-14.025 14.749-14.025h.868c9.418 0 14.605 5.083 14.605 14.313 0 9.308-4.962 14.028-14.749 14.028h-.868Z"
          style="fill:#0c00ff;fill-rule:nonzero"></path><path
          d="M605.39 18.008h-.868c-10.72 0-16.624 5.647-16.624 15.899 0 5.16 1.443 9.192 4.286 11.988 2.838 2.79 6.94 4.204 12.194 4.204h.868c10.72 0 16.624-5.648 16.624-15.903 0-10.288-6.007-16.188-16.48-16.188m0 3.75c8.246 0 12.73 4.195 12.73 12.438 0 8.102-4.052 12.153-12.874 12.153h-.868c-8.534 0-12.73-4.195-12.73-12.442 0-8.101 4.052-12.149 12.874-12.149h.868ZM657.46 48.224c-9.555 0-14.604-4.951-14.604-14.316 0-9.307 4.962-14.025 14.748-14.025h.867c9.418 0 14.605 5.083 14.605 14.313 0 9.308-4.962 14.028-14.749 14.028h-.867Z"
          style="fill:#0c00ff;fill-rule:nonzero"></path><path
          d="M658.472 18.008h-.868c-10.72 0-16.624 5.647-16.624 15.899 0 5.16 1.442 9.192 4.286 11.988 2.838 2.79 6.94 4.204 12.194 4.204h.868c10.719 0 16.623-5.648 16.623-15.903 0-10.288-6.006-16.188-16.479-16.188m0 3.75c8.246 0 12.729 4.195 12.729 12.438 0 8.102-4.051 12.153-12.873 12.153h-.868c-8.534 0-12.73-4.195-12.73-12.442 0-8.101 4.052-12.149 12.874-12.149h.868Z"
          style="fill:#0c00ff;fill-rule:nonzero"></path><path
          d="m637.037 105.473-6.268-19.518-6.369 19.518h12.637Zm14.706 42.954-3.772-10.5c-.999-2.565-1.886-4.353-3.416-5.766-3.013-2.783-7.468-4.271-13.241-4.422h-1.107c-5.868.155-10.382 1.506-13.371 4.017-1.42 1.323-2.482 3.055-3.546 5.784l-4.061 10.887H577.33l38.256-104.865h30.694l37.506 104.865h-32.043Z"
          style="fill:#92ffa1;fill-rule:nonzero"></path><path
          d="m626.985 103.598 3.77-11.556 3.711 11.556h-7.481Zm20.616-61.911h-33.327l-.899 2.465-36.888 101.115-1.837 5.035h35.881l.911-2.44 3.605-9.667c.955-2.443 1.838-3.91 3.032-5.034 2.649-2.205 6.745-3.398 12.178-3.547h1.055c5.282.146 9.309 1.466 11.972 3.924 1.255 1.159 2.03 2.739 2.938 5.07l3.311 9.212.892 2.482h36.023l-1.793-5.013-36.164-101.115-.89-2.487Zm-25.785 65.661h17.793l-8.826-27.482-8.967 27.482m23.144-61.911 36.164 101.115h-28.062l-3.328-9.258c-1.011-2.604-2.027-4.775-3.906-6.51-3.76-3.472-8.97-4.776-14.466-4.92h-1.155c-5.499.144-10.85 1.304-14.613 4.487-1.88 1.735-3.036 3.904-4.051 6.507l-3.615 9.694H580.01l36.888-101.115h28.062Z"
          style="fill:#00f;fill-rule:nonzero"></path><path
          d="M604.378 37.724c-9.554 0-14.605-4.951-14.605-14.316 0-9.307 4.963-14.025 14.749-14.025h.868c9.418 0 14.605 5.083 14.605 14.313 0 9.308-4.962 14.028-14.749 14.028h-.868Z"
          style="fill:#92ffa1;fill-rule:nonzero"></path><path
          d="M605.39 7.508h-.868c-10.72 0-16.624 5.647-16.624 15.899 0 5.16 1.443 9.192 4.286 11.988 2.838 2.79 6.94 4.204 12.194 4.204h.868c10.72 0 16.624-5.648 16.624-15.903 0-10.288-6.007-16.188-16.48-16.188m0 3.75c8.246 0 12.73 4.195 12.73 12.438 0 8.102-4.052 12.153-12.874 12.153h-.868c-8.534 0-12.73-4.195-12.73-12.442 0-8.101 4.052-12.149 12.874-12.149h.868Z"
          style="fill:#00f;fill-rule:nonzero"></path><path
          d="M657.46 37.724c-9.555 0-14.604-4.951-14.604-14.316 0-9.307 4.962-14.025 14.748-14.025h.867c9.418 0 14.605 5.083 14.605 14.313 0 9.308-4.962 14.028-14.749 14.028h-.867Z"
          style="fill:#92ffa1;fill-rule:nonzero"></path><path
          d="M658.472 7.508h-.868c-10.72 0-16.624 5.647-16.624 15.899 0 5.16 1.442 9.192 4.286 11.988 2.838 2.79 6.94 4.204 12.194 4.204h.868c10.719 0 16.623-5.648 16.623-15.903 0-10.288-6.006-16.188-16.479-16.188m0 3.75c8.246 0 12.729 4.195 12.729 12.438 0 8.102-4.051 12.153-12.873 12.153h-.868c-8.534 0-12.73-4.195-12.73-12.442 0-8.101 4.052-12.149 12.874-12.149h.868Z"
          style="fill:#00f;fill-rule:nonzero"></path>
      </g>
      <g id="R">
        <path
          d="M728.272 79.656c-7.71 0-10.999 3.073-10.999 10.274 0 7.209 3.449 10.567 10.855 10.567h.867c7.71 0 10.998-3.074 10.998-10.279 0-7.206-3.448-10.562-10.854-10.562h-.867Zm20.975 80.571c-10.076 0-19.45-5.675-27.923-16.885v15.585h-30.08V54.062h35.148c7.255 0 17.917.557 26.72 5.365 10.295 5.623 15.514 15.643 15.514 29.779 0 27.318-18.646 34.306-29.116 36.072 3.729 6.899 7.773 9.415 10.267 9.415 3.09 0 5.218-3.777 5.552-9.857l.098-1.772h25.348v1.875c0 5.391-1.118 10.839-3.324 16.191-5.067 12.139-15.346 19.097-28.204 19.097"
          style="fill:#0c00ff;fill-rule:nonzero"></path><path
          d="M742.472 126.604c3.404-.777 7.315-2.077 11.116-4.251l-.131 2.379c-.262 4.761-1.775 8.086-3.68 8.086-1.77 0-4.563-1.972-7.305-6.214m-14.345-27.983c-6.462 0-8.979-2.437-8.979-8.691 0-6.123 2.472-8.399 9.123-8.399h.868c6.462 0 8.98 2.435 8.98 8.687 0 6.126-2.473 8.403-9.124 8.403h-.868Zm-1.735-46.434h-37.023v108.614h33.83v-12.204c7.961 8.97 16.691 13.505 26.048 13.505 13.651 0 24.561-7.378 29.931-20.242 2.307-5.596 3.473-11.284 3.473-16.921v-3.75h-27.17c8.001-5.286 15.02-14.815 15.02-31.983 0-14.875-5.548-25.448-16.49-31.425-9.18-5.014-20.16-5.594-27.619-5.594m1.735 50.184h.868c8.822 0 12.874-4.051 12.874-12.153 0-8.242-4.196-12.437-12.73-12.437h-.868c-8.822 0-12.873 4.047-12.873 12.149 0 8.246 4.195 12.441 12.729 12.441m-1.735-46.434c15.044 0 40.359 2.604 40.359 33.269 0 29.222-21.987 33.705-30.089 34.573 3.983 8.558 9.021 12.789 13.115 12.789 3.934 0 6.999-3.905 7.424-11.629h21.7c0 5.351-1.157 10.557-3.184 15.477-4.771 11.429-14.464 17.936-26.47 17.936-10.85 0-20.832-7.087-29.798-20.976v19.675h-26.33V55.937h33.273Z"
          style="fill:#0c00ff;fill-rule:nonzero"></path><path
          d="M728.272 69.156c-7.71 0-10.999 3.073-10.999 10.274 0 7.209 3.449 10.567 10.855 10.567h.867c7.71 0 10.998-3.074 10.998-10.279 0-7.206-3.448-10.562-10.854-10.562h-.867Zm20.975 80.571c-10.076 0-19.45-5.675-27.923-16.885v15.585h-30.08V43.562h35.148c7.255 0 17.917.557 26.72 5.365 10.295 5.623 15.514 15.643 15.514 29.779 0 27.318-18.646 34.306-29.116 36.072 3.729 6.899 7.773 9.415 10.267 9.415 3.09 0 5.218-3.777 5.552-9.857l.098-1.772h25.348v1.875c0 5.391-1.118 10.839-3.324 16.191-5.067 12.139-15.346 19.097-28.204 19.097"
          style="fill:#92ffa1;fill-rule:nonzero"></path><path
          d="M742.472 116.104c3.404-.777 7.315-2.077 11.116-4.251l-.131 2.379c-.262 4.761-1.775 8.086-3.68 8.086-1.77 0-4.563-1.972-7.305-6.214m-14.345-27.983c-6.462 0-8.979-2.437-8.979-8.691 0-6.123 2.472-8.399 9.123-8.399h.868c6.462 0 8.98 2.435 8.98 8.687 0 6.126-2.473 8.403-9.124 8.403h-.868Zm-1.735-46.434h-37.023v108.614h33.83v-12.204c7.961 8.97 16.691 13.505 26.048 13.505 13.651 0 24.561-7.378 29.931-20.242 2.307-5.596 3.473-11.284 3.473-16.921v-3.75h-27.17c8.001-5.286 15.02-14.815 15.02-31.983 0-14.875-5.548-25.448-16.49-31.425-9.18-5.014-20.16-5.594-27.619-5.594m1.735 50.184h.868c8.822 0 12.874-4.051 12.874-12.153 0-8.242-4.196-12.437-12.73-12.437h-.868c-8.822 0-12.873 4.047-12.873 12.149 0 8.246 4.195 12.441 12.729 12.441m-1.735-46.434c15.044 0 40.359 2.604 40.359 33.269 0 29.222-21.987 33.705-30.089 34.573 3.983 8.558 9.021 12.789 13.115 12.789 3.934 0 6.999-3.905 7.424-11.629h21.7c0 5.351-1.157 10.557-3.184 15.477-4.771 11.429-14.464 17.936-26.47 17.936-10.85 0-20.832-7.087-29.798-20.976v19.675h-26.33V45.437h33.273Z"
          style="fill:#00f;fill-rule:nonzero"></path>
      </g>
      <g id="V">
        <path
          d="M823.138 160.968c-.354-.445-35.578-45.129-50.117-104.585l-.567-2.321h29.437l.371 1.394c5.37 20.238 13.263 40.329 22.355 56.972 9.121-16.456 17.056-36.545 22.477-56.972l.371-1.394h29.443l-.574 2.325c-14.686 59.454-49.91 104.136-50.264 104.581l-1.466 1.84-1.466-1.84Z"
          style="fill:#0c00ff;fill-rule:nonzero"></path><path
          d="M879.302 52.187h-33.28l-.74 2.788c-5.053 19.04-12.3 37.774-20.654 53.501-8.332-15.889-15.545-34.626-20.555-53.501l-.739-2.788h-33.269l1.135 4.641c7.651 31.287 20.945 58.224 30.749 75.31 10.635 18.533 19.356 29.539 19.722 29.998l2.933 3.681 2.933-3.681c.366-.459 9.087-11.465 19.739-29.995 9.821-17.086 23.151-44.02 30.878-75.304l1.148-4.65Zm-4.789 3.75C859.756 115.681 824.604 159.8 824.604 159.8s-35.152-44.119-49.761-103.863h25.606c6.219 23.432 15.189 44.555 24.155 60.32 9.114-15.765 18.084-36.888 24.303-60.32h25.606Z"
          style="fill:#0c00ff;fill-rule:nonzero"></path><path
          d="M823.138 150.468c-.354-.445-35.578-45.129-50.117-104.585l-.567-2.321h29.437l.371 1.394c5.37 20.238 13.263 40.329 22.355 56.972 9.121-16.456 17.056-36.545 22.477-56.972l.371-1.394h29.443l-.574 2.325c-14.686 59.454-49.91 104.136-50.264 104.581l-1.466 1.84-1.466-1.84Z"
          style="fill:#92ffa1;fill-rule:nonzero"></path><path
          d="M879.302 41.687h-33.28l-.74 2.788c-5.053 19.04-12.3 37.774-20.654 53.501-8.332-15.889-15.545-34.626-20.555-53.501l-.739-2.788h-33.269l1.135 4.641c7.651 31.287 20.945 58.224 30.749 75.31 10.635 18.533 19.356 29.539 19.722 29.998l2.933 3.681 2.933-3.681c.366-.459 9.087-11.465 19.739-29.995 9.821-17.086 23.151-44.02 30.878-75.304l1.148-4.65Zm-4.789 3.75C859.756 105.181 824.604 149.3 824.604 149.3s-35.152-44.119-49.761-103.863h25.606c6.219 23.432 15.189 44.555 24.155 60.32 9.114-15.765 18.084-36.888 24.303-60.32h25.606Z"
          style="fill:#00f;fill-rule:nonzero"></path>
      </g>
      <g id="E">
        <path
          d="M884.774 158.927V54.063h116.718v27.473h-83.018c-2.331 0-4.488.649-4.488 5.355 0 4.849 2.195 5.503 4.343 5.503h81.716v27.474h-81.571c-2.364 0-4.78.67-4.78 5.647 0 5.233 2.343 5.939 4.635 5.939h83.163v27.473H884.774Z"
          style="fill:#0c00ff;fill-rule:nonzero"></path><path
          d="M1003.37 52.187H882.901v108.615h120.469v-31.224h-85.038c-1.357 0-2.76 0-2.76-4.063 0-3.773 1.41-3.773 2.904-3.773h83.446V90.519h-83.59c-1.214 0-2.469 0-2.469-3.628 0-3.48 1.096-3.48 2.613-3.48h84.894V52.187Zm-3.75 3.75v23.724h-81.144c-4.339 0-6.363 2.459-6.363 7.23 0 4.919 2.168 7.378 6.219 7.378h79.84v23.723h-79.696c-4.483 0-6.654 2.604-6.654 7.523 0 5.207 2.171 7.813 6.51 7.813h81.288v23.724H886.651V55.937H999.62Z"
          style="fill:#0c00ff;fill-rule:nonzero"></path><path
          d="M884.774 148.427V43.563h116.718v27.473h-83.018c-2.331 0-4.488.649-4.488 5.355 0 4.849 2.195 5.503 4.343 5.503h81.716v27.474h-81.571c-2.364 0-4.78.67-4.78 5.647 0 5.233 2.343 5.939 4.635 5.939h83.163v27.473H884.774Z"
          style="fill:#92ffa1;fill-rule:nonzero"></path><path
          d="M1003.37 41.687H882.901v108.615h120.469v-31.224h-85.038c-1.357 0-2.76 0-2.76-4.063 0-3.773 1.41-3.773 2.904-3.773h83.446V80.019h-83.59c-1.214 0-2.469 0-2.469-3.628 0-3.48 1.096-3.48 2.613-3.48h84.894V41.687Zm-3.75 3.75v23.724h-81.144c-4.339 0-6.363 2.459-6.363 7.23 0 4.919 2.168 7.378 6.219 7.378h79.84v23.723h-79.696c-4.483 0-6.654 2.604-6.654 7.523 0 5.207 2.171 7.813 6.51 7.813h81.288v23.724H886.651V45.437H999.62Z"
          style="fill:#00f;fill-rule:nonzero"></path>
      </g>
    </svg>
  </div>
</div>

<div class="relative mt-2 pl-14 pr-4 xl:pl-0 w-full flex justify-center">
  <div class="w-full sm:w-[80%] xl:w-[800px] flex flex-col sm:flex-row items-center sm:justify-between">
    <div class="font-bds text-xl md:text-2xl text-pj-blue font-bold">JAANITULI 2025</div>
    <div class="font-bds text-xl md:text-2xl text-pj-blue font-bold">{dateText}</div>
  </div>
</div>
