---
import Section from "@components/Section.astro";

interface Props {
  id?: string;
  color?: string;
  colorGradient?: string;
  bubbleBorder?: boolean;
}

const { id = "", color = "black", colorGradient, bubbleBorder = true } = Astro.props;
---

<Section {id} {color} {colorGradient} {bubbleBorder}>
  <div class="max-w-6xl pl-[52px] pr-3
          sm:px-14 sm:mx-auto
          lg:px-16">
    <slot />
  </div>
</Section>
