---
import "../../app.css";
import Layout from "../../layouts/MediaLayout.astro";
import { getArtistsSectionData } from "@lib/cms";
import YtPlayer from "@lib/components/YtPlayer.astro";
import MediaMenu from "@lib/components/menu/MediaMenu.astro";

export async function getStaticPaths() {
  const [dataEt, dataEn] = await Promise.all([getArtistsSectionData("et"), getArtistsSectionData("en")]);

  const allArtists = [...(dataEt.artists || []), ...(dataEn.artists || [])];

  // Deduplicate by video_id
  const videoMap = new Map();
  allArtists.forEach((a) => {
    if (a.video_id && !videoMap.has(a.video_id)) {
      videoMap.set(a.video_id, { id: a.video_id, title: a.name });
    }
  });

  return Array.from(videoMap.values()).map((video) => {
    return { params: { id: video.id }, props: { title: video.title } };
  });
}

const { id } = Astro.params;
const { title } = Astro.props;
---

<Layout {title}>
  <div class="fixed inset-0 z-10 flex items-center justify-center">
    <div class="w-full px-2 max-w-7xl">
      <YtPlayer {id} />
    </div>
    <MediaMenu />
  </div>
</Layout>
