---
import "../../app.css";
import { getImagePagePictureData, getImageIdsFromHtml } from "@lib/cms-images";
import { API_URL } from "../../config.js";
import { fetchWithRetry } from "@lib/utils";
import Layout from "../../layouts/MediaLayout.astro";
import MediaMenu from "@lib/components/menu/MediaMenu.astro";
import Picture from "@lib/components/Picture.astro";

export async function getStaticPaths() {
  const headers = { "content-type": "application/json" };
  // Fetch info section for both languages to get all possible images
  const [resEt, resEn] = await Promise.all([
    fetchWithRetry(`${API_URL}content/item/infoSection?locale=et`, { headers }),
    fetchWithRetry(`${API_URL}content/item/infoSection?locale=en`, { headers }),
  ]);

  const [dataEt, dataEn] = await Promise.all([resEt.json(), resEn.json()]);

  const imagesEt = dataEt.text ? await getImageIdsFromHtml(dataEt.text) : [];
  const imagesEn = dataEn.text ? await getImageIdsFromHtml(dataEn.text) : [];

  // Combine and deduplicate images
  const allImages = [...imagesEt, ...imagesEn];
  const uniqueImages = Array.from(new Map(allImages.map((img) => [img.id, img])).values());

  return uniqueImages.map(({ id, title }) => {
    return {
      params: { id },
      props: { title },
    };
  });
}

const { id } = Astro.params;

const data = await getImagePagePictureData(id);

const { title } = Astro.props;
---

<Layout {title}>
  {
    data && (
      <div class="fixed inset-0 z-10">
        <Picture {data} class="absolute object-contain w-full h-full pointer-events-none max-w-none" />
        <MediaMenu />
      </div>
    )
  }
</Layout>
